body{
	color: #161;
	background-color: #ddd;
	line-height: 1.5;
	width: 960px;
	padding: 0 30;
	margin: 0 auto;
}

h1, h2, h3, h4{
	text-shadow: 1px 1px 1px #002;
}

header{
	background-image: url("../images/grass_background.jpg");
	background-color: #5f5;
}

header h1{
	float: left;
	color: #fff;
}

/*GLobal nav----------------------------------------------- */

nav ul{
	width: 480;
	margin: 0 auto;
	background-color: #5f5;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	float: right;
}
nav ul li{
	width: 160px;
	height: 50px;
	float: left;	
}
nav a{
	display: block;
	width: 160px;
	height: 50px;
	background-color: #161;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	color: #5f5;	
}
nav a:hover{
	background-color: #fff;
	color: #161;
	text-decoration: underline;
}
nav a:active{
	color: black
}
nav a:visited{
	color: #5ff;
}


.gallery_thumbs li{
	float: left;
	overflow: hidden;
}

footer{
	clear: both;
}