body{
	color: #161;
	background-color: #ddd;
	line-height: 1.5;
	max-width: 960px;
	padding: 0 30;
	margin: 0 auto;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 100%;
}

h1, h2, h3, h4{
	text-shadow: 1px 1px 1px #002;
	font-family: 'Marko One', serif;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.2em;
}

p {
	font-size: 1.2em;
}

header{
	background-image: url("../images/grass_background.jpg");
	background-color: #5f5;
}

header h1{
	float: left;
	color: #fff;
	width: 50%;
}


a{
	color: #0aa;
}
a:hover{
	color: #0ff;
}
a:active{
	color: #00a;
}
a:visited{
	color: #a0a;
}
/*GLobal nav----------------------------------------------- */

nav ul{
	width: 50%;/* 480px*/
	margin: 0 auto;
	background-color: #5f5;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	float: right;
}
nav ul li{
	width: 33.333333333333%;/*160px;*/
	height: 50px;
	float: left;	
}
nav a{
	display: block;
	width: 160px;
	height: 50px;
	background-color: #161;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	color: #5f5;	
}
nav a:hover{
	background-color: #fff;
	color: #161;
	text-decoration: underline;
}
nav a:active{
	color: black
}
nav a:visited{
	color: #5ff;
}

.maincontent{
	background-color: rgba(200, 255, 200, 50);
}

#maintopic{
	-moz-column-count: 3;
}

/*CTA--------------------------------------------------------*/

.calltoaction {
	background-color: #5f5;
}
.calltoaction ul{
	list-style-type: square;
}
#signupbutton{
	font-weight: bold;
	background-color: #ff0;
	background: -moz-linear-gradient(top, yellow 0%, orange 55%, #DEF 130%);
	text-height: 1.2;
	width: 110px;
	height: 40px;
	line-height: 40px;
	margin: auto;
	text-align: center;
	border: 1px solid #bb0;
	border-radius: 15px;
}
#signupbutton a{
	color: #020;
	text-decoration: none;
}
#signupbutton a:hover{
	color: #383;
}

.gallery_thumbs li{
	float: left;
	overflow: hidden;
}

footer{
	clear: both;
}